form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

input{
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--corheader);
    background-color: var(--cordefundo);
    color: var(--corblack);
    font-size: 1.5rem;
}

.btnSearch{
    padding: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--corheader);
    color: var(--cordefundo);
    font-size: 1.5rem;
}

.btnSearch:hover{
    cursor: pointer;
}

.title{
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
}

@media screen and (min-width: 425px) {
    input{
        width: 30rem;
    }
}

@media screen and (min-width: 1024px) {
    input{
        width: 40rem;
    }
}

@media screen and (min-width: 1440px) {
    input{
        width: 50rem;
        padding: 2rem;
        font-size: 2rem;
    }

    .btnSearch{
        padding: 2rem;
        font-size: 2rem;
    }
}