footer{
    padding: 40px 4%;
    background-color: var(--corheader);
    height: 300px;
    border-top: 0;
    box-shadow: 0px 0px 20px var(--corheader);
    margin-top: 7rem;
}


footer .flex{
    justify-content: space-between;
}

 footer .cont-footer button{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    transition: .2s;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    background-color: var(--cordefundo);
    cursor: pointer;
    margin: 4px;
}

footer .cont-footer button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px var(--corheader);
}

footer .line-footer{
    border-top: 2px solid var(--cordefundo);
}

footer .line-footer a{
    text-decoration: none;
    margin: 10px;
    color: var(--cordofundo);

}

footer .line-footer p{
    margin: 10px;
    color: var(--cordefundo);
    text-align: center;
}
